<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form>

	<TABLE BORDER>
		<tr>
			<td colspan="3"> Juego PisaMinas</td>
		</tr>
		<TR>
			<TD>A1</TD> <TD>A2</TD> <TD>A3</TD>
		</TR>
	</TABLE>
</form>
</body>
</html>